AUTH_SECRET= # Generate by : npx next-auth secret

DATABASE_URL=
APP_URL=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

NEXT_PUBLIC_CLOUDINARY_LIBRARY_TAG=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

SMTP_PORT="587"
SMTP_SECURE="true"

SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
EMAIL_FROM=